<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArvaLabel</title>
    <link rel="stylesheet" type="text/css" href="static/index.css">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="frame">
        {% include 'home_section.html' %}

        <section id="news">
            <h1>Our Products</h1>
            <p>Details about products go here.</p>
        </section>

        <section id="info">
            <h1>Info</h1>
            <p>Company info, mission, etc.</p>
        </section>

        <section id="contacts">
            <h1>Contacts</h1>
            <p>Contact form or details here.</p>
        </section>
    </div>
</body>

</html>